# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
.env
.venv/
venv/

# Django static/media
media/
staticfiles/

# Node
node_modules/
dist/
build/

# Vite
.vite/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# ML large files (optional)
*.pkl
*.joblib

# Cache
.cache/